@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../public/fonts/styles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #f58121;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f79e55;
}

.footer-item-container {
  @apply z-20 flex flex-col items-center text-white md:block;
}

.footer-item-title {
  @apply text-2xl font-bold tracking-wide lg:text-3xl;
}

@layer utilities {
  .min-w-321 {
    min-width: 321px;
  }
  .drop-shadow-primary-40 {
    --tw-shadow: 0 25px 40px rgba(72, 35, 117, 0.1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

.hero-section-btn {
  @apply mt-6 block w-full rounded-xl px-2 py-3 text-center text-lg transition-all duration-300 ease-in-out hover:-translate-y-1 hover:cursor-pointer;
}

.nav-link-hover {
  @apply cursor-pointer transition-all duration-500 ease-in-out hover:-translate-y-1 hover:text-primary;
}

.about-image-container {
  @apply max-h-full p-3 md:max-h-96 md:w-1/2;
}

.about-image {
  @apply h-full w-full rounded-md object-cover  drop-shadow-md transition-all duration-500 ease-in-out hover:scale-[1.03];
}

.about-wrapper {
  @apply flex flex-col md:flex-row;
}

.about-text-wrapper {
  @apply w-full md:w-1/2 md:px-3 md:py-2;
}

.services_ul {
  @apply flex list-disc flex-col items-center text-xl font-medium tracking-wider md:items-start md:text-2xl;
}
